.parallax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: 100% 100%;
    height: 500px;

    .text-parallax{
        color: rgb(232, 255, 236);
        text-shadow: 3px 3px 3px #1b7b3e;
        font-family: "bebas Neue";
        font-size: 50px;
        padding-top: 5rem;
        //padding-left: 20%;
        text-align: center;
    }
}

#section-index{
    background-image: url("../images/parallax.jpg");
}

.main-index{
    background-color: rgb(181, 207, 193);

    #home_nosotros {
        display: flex;
        flex-direction: row;
        width: 100%;

        #home_nosotros-img {

            img {
                width: 350px;
                padding-top: 2rem;
                margin-left: 40%;
            }
        }

        #home_nosotros-texto {
            width: 50%;
            justify-items: center;
            margin: 8% 7% 5% 20%;
        
            h3{
                font-family: "montserrat Semibold";
            }

            p {
                font-family: "montserrat Regular";
            }
        
            .enlace-nosotros {
                width: 7rem;
                color: white;
                font-family: "montserrat Medium";
                text-align: center;
                text-decoration: none;
                font-weight: 400;
                background-color: #67b174;
                padding: 0.3rem;
                border-radius: 0.3rem;
                display: inline-block;
                transition: 0.5s;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
                position: relative;
                top: 5%;
                left: 50%;
                transform: translateX(-50%);
            }
        
            .enlace-nosotros:hover {
                background-color: #1e3c23;
            }
        }
    }

    #video{
        background-color: rgba(113, 151, 120, 0.889);
        margin-top: 5%;

        video{
            width: 30%;
            margin-left: 35%;
        }
    }

    #home_productos {
        margin: 4% 1.3rem 3% 1.3rem;
        
        .enlace-productos-index {
            width: 9rem;
            color: white;
            font-family: "montserrat Medium";
            text-decoration: none;
            font-weight: 400;
            background-color: #67b174;
            padding: 0.3rem;
            border-radius: 0.3rem;
            display: inline-block;
            transition: 0.5s;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        .enlace-productos-index:hover {
            background-color: #1e3c23;
            text-decoration: none;
        }

        .home_productos-texto {
            text-align: center;
            margin: 0% 20%;

            h3{
                font-family: "montserrat Semibold";
            }

            p{
                font-family: "montserrat Regular";
            }
        }

        .home_productos-productos {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 5%;
        
            h3 {
                text-align: center;
                font-family: "montserrat Medium";
            }
        
            img {
                border-radius: 5%;
                filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
                margin-bottom: 15%;
                width: 275px;
                transition: 0.5s;
            }
        
            img:hover {
                transform: scale(1.1, 1.1);
            }
        }
    }
    

    .home-galeria{
        display: flex;
        flex-direction: row;

        img{
            width: 25%;
        }
    }
}
