/*.contenedor{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: 
        "nav nav nav"
        "main main main"
        "footer footer footer";
    grid-gap: 0.5rem;
}

nav{
    background-color: red;
    grid-area: nav;
}

main{
    background-color: blue;
    grid-area: main;
}

footer{
    background-color: yellow;
    grid-area: footer;
}

@media screen and (max-width: 576px){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 0.5fr;
        grid-template-areas: 
            "nav"
            "main"
            "footer";
    }
}*/

.contenedor_home{

}

nav{
    background-color: rgb(108, 182, 112);

        img{
            margin-left: 25px;
            width: 150px;
            height: 150px;
        }
}

main{
    background-color: rgb(181, 207, 193);

    .carousel_home{
        
        img{
            width: 400px;
            height: 500px;
        }

    }
}

footer{
    background-color: rgb(108, 182, 112);

    img{
        width: 150px;
        height: 150px;
    }

    .footer_redes{

        p{

        }

        img{
            width: 50px;
            height: 50px;
        }
    }
}