@import "pages/productos";
@import "pages/combos";
@import "pages/nosotros";
@import "pages/contacto";

@import "nav/nav";

@font-face {
    font-family: "montserrat Bold";
    src: url(../font/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face{
    font-family: "montserrat Semibold";
    src: url(../font/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "montserrat Medium";
    src: url(../font/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "montserrat Regular";
    src: url(../font/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "montserrat Light";
    src: url(../font/Montserrat/static/Montserrat-Light.ttf);
}

html{
    font-size: 62.5%;}

body{
    font-size: 2rem;
    font-family: "montserrat Regular", sans-serif;
}