* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

a {
    text-decoration: none;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1.1rem;
}

@import "index.scss";
@import "pages/productos";
@import "pages/nosotros";
@import "pages/contacto";
@import "pages/mate";

@import "layout/nav";
@import "layout/footer";

@import "recursos/tipografia";
@import "recursos/variables";

@import "estructura/mediaQuery";