@import "index.scss";
@import "pages/productos";
@import "pages/combos";
@import "pages/nosotros";
@import "pages/contacto";

@import "layout/nav";
@import "layout/footer";

@import "recursos/tipografia";
@import "recursos/variables";

@import "estructura/mediaQuery";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;}

body{
    font-size: 2rem;
    font-family: "montserrat Regular", sans-serif;
}

/*declaro mapa*/

$colores--texto: ("principal": $verde-claro, "secundario": $verde-oscuro, "terciario": green);

@each $jerarquia, $color in $colores--texto {
    .texto-#{$jerarquia}{
        color: $color;
    }
}

/*map-get*/

$borde: (
    border-style: solid,
    border-color: black,
    border-width: 10px
);


.section__Tip4{
    div{
        iframe{
            width: 560px;
            height: 315px;
            border-style: map-get($borde, border-style);
            border-width: 5px;
            border-color: $verde-oscuro;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}
