@font-face {
    font-family: "montserrat Bold";
    src: url(../font/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face{
    font-family: "montserrat Semibold";
    src: url(../font/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "montserrat Medium";
    src: url(../font/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "montserrat Regular";
    src: url(../font/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "montserrat Light";
    src: url(../font/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
    font-family: "bebas Neue";
    src: url(../font/Bebas_Neue/BebasNeue-Regular.ttf);
}