* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor__Productos__Mates div p {
  font-family: "montserrat Regular";
  font-size: small; }

.contenedor__Productos__Mates div h5 {
  font-family: "montserrat Semibold";
  font-size: large;
  color: black; }

.nav__Menu {
  justify-content: end;
  margin-right: 100px; }

.navpages {
  background-color: #1a6e2478; }

.nav__Links {
  font-family: "montserrat Semibold";
  list-style: none;
  text-decoration: none;
  color: #4c884c;
  text-shadow: 1px 1px 1px #f5f5f5;
  text-transform: uppercase;
  font-size: large;
  padding-right: 25px; }

.nav__Links > a:hover {
  color: #f5f5f5;
  transition: 0.5s; }

.nav__Submenu {
  font-size: small; }

@font-face {
  font-family: "montserrat Bold";
  src: url(../font/Montserrat/static/Montserrat-Bold.ttf); }

@font-face {
  font-family: "montserrat Semibold";
  src: url(../font/Montserrat/static/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: "montserrat Medium";
  src: url(../font/Montserrat/static/Montserrat-Medium.ttf); }

@font-face {
  font-family: "montserrat Regular";
  src: url(../font/Montserrat/static/Montserrat-Regular.ttf); }

@font-face {
  font-family: "montserrat Light";
  src: url(../font/Montserrat/static/Montserrat-Light.ttf); }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  font-family: "montserrat Regular", sans-serif; }
