.combos__Img{
    width: 400px;
    height: 650;
    border-radius: 20px;
    margin: 50px 50px 50px 50px;
}

.combos__Texto{
    font-family: "montserrat Regular";
    font-size: medium;
    display: inline;
    position: relative;
    bottom: 500px;
}