fieldset{
    padding-left: 15px;
    margin: 15px 15px 15px 20px;
    width: 520px;
}

.fieldset__Titulo{
    font-family: "montserrat Medium";
    font-weight: bolder;
    margin: 20px 10px 10px 10px;
}

div label{
    font-family: "montserrat Regular";
    font-weight: bold;
    font-size: medium;
}

textarea{
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fieldset__Boton{
    background-color: #13501ada;
    border-radius: 10px;
    border-color: #19582000;
    color: white;
    margin-bottom: 15px;
    width: 100px;
    height: 30px;
}