.nosotrosSection{
    background-color: #0e3e1495;
    width: 450px;
    height: 700px;
}

.nosotrosImg1{
    width: 350px;
    height: 500px;
    position: relative;
    left: 45px;
    top: 60px;
}

.nosotrosTitulo{
    font-family: "montserrat Bold";
    font-size: x-large;
    color: #13501ada;
    display: inline;
    position: relative;
    left: 900px;
    bottom: 580px;
}