.cards{
    justify-items: center;
}

.contenedor__Productos__Mates{
    div{
        h5{
            font-family: "montserrat Semibold";
            font-size: large;
            color: black;
            background-color: none;
            background-image: none;
        }
    }
}

.contenedor__Productos__Mates{
    div{
        p{
            @extend p ;
            margin-top: 0px;
            margin-bottom: 15px;
        }
    }
}