*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor__Productos__Mates div p{
    font-family: "montserrat Regular";
    font-size: small;
}

.contenedor__Productos__Mates div h5{
    font-family: "montserrat Semibold";
    font-size: large;
    color: black;
}