footer{
    background-color: $verde-claro;
}

footer{
    div{
        ul{
            li{
                font-family: "montserrat Regular";
                font-size: small;
                font-weight: lighter;
                line-height: 2;
                list-style: none;
            }
        }
    }
}

.redes{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}