footer {
    background-color: #67b174;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    .footer_logo{
        
        img {
            width: 80px;
            height: 80px;
            margin: 2rem 0 2rem 2rem;
        }
    }

    .footer_redes {
        margin: 2rem 2rem;
        justify-self: end;

        p {
            font-family: "montserrat Regular";
        }

        img {
            width: 30px;
            height: 30px;
            margin: 0.3rem 0.4rem;
        }
    }
}
